@media only screen and (max-width: 1000px) {
  /* and (max-width: 530px) */
  header {
    width: 75%;
  }
  .navbar-main-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    right: -7%;
    align-items: center;
    margin: 0rem 0rem 0rem 8rem;
  }
  .page-logo {
    width: 60px;
    border-radius: 5rem;
  }
}

@media only screen and (max-width: 900px) {
  header {
    width: 100%;
  }
  .navbar-main-container {
    display: none;
  }
  .burger-menu-container {
    display: block;
  }

  .presentation-container p {
    width: 20rem !important;
  }

  section p {
    width: 85% !important;
  }
  section img {
    width: calc(70% + 20px);
  }
  .main-elements {
    left: 5rem;
  }
  .title-elements h1 {
    width: 35rem;
  }
  .title-elements {
    top: 2rem;
    left: calc(100% - 430px);
  }
  .other h1 {
    width: 35rem;
    position: absolute;
    left: -3rem;
    top: 3rem;
  }
  .cards-show-main {
    flex-direction: column;
  }
}

@media only screen and (max-width: 450px){
  .buttons-selection{
    flex-direction: column;
  }
}