@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

html {
  scroll-behavior: smooth;
}
a {
  color: #fff;
  text-decoration: none;
}
button {
  border-style: none;
  background: none;
}

body {
  padding: 0;
  margin: 0;
  background-color: #171718;
  font-family: "Poppins";
}
header {
  position: sticky;
  top: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.navbar-container {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 30px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;

  /* Glass effect */
  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
}

.navbar-element {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 600;
  width: 24%;
}

/* Type animation */
.cursor {
  display: inline-block;
  width: 3px;
}
.cursor.blink {
  animation: blink 0.8s ease infinite;
}
.text-rol {
  font-size: 2rem;
}
.typed-text {
  font-size: 2rem;
}
@keyframes blink {
  0%,
  100% {
    background: none;
  }
  40%,
  50% {
    background: transparent;
  }
}

/* Main content */
main {
  transition: body ease 0.5s;
  color: #fff;
  margin-top: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main h2 {
  font-size: 30px;
  font-weight: 700;
}
main h3 {
  font-size: 25px;
  font-weight: 600;
}
.main-content-container {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  margin-bottom: 12rem;
}

.left-side {
  width: 45%;
}
.left-side h1 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 800;
}

.left-side span {
  font-weight: 800;
  color: #e6cc70;
}

.gs-button {
  margin-top: 1.3rem;
  padding: 1.2rem;
  width: 100%;
  border-radius: 20px;
  background-color: #373737;
  font-size: 1.3rem;
  font-weight: 800;
  transition: filter 0.2s;
  color: #fff;
  cursor: pointer;
}
.gs-button:hover {
  filter: invert(100%);
}

.pattern-background {
  transition: background-blend-mode 10s;
  border-radius: 20px;
  padding: 2em;
  width: 30rem;
  height: 25rem;
  background-color: #f5f5f5;
  opacity: 0.4;
  background-image: radial-gradient(circle at center center, #ebebf1, #e5e5f7),
    repeating-radial-gradient(
      circle at center center,
      #999999,
      #676880,
      10px,
      transparent 20px,
      transparent 10px
    );
  background-blend-mode: multiply;
}
.pattern-background:hover {
  background-blend-mode: exclusion;
}

/* Proyects section */
.proyects-container {
  width: auto;
  margin-bottom: 8rem;
}

.proyects-demo {
  margin: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.p-pattern {
  margin: 1em;
  transition: background-blend-mode 10s;
  border-radius: 20px;
  width: 20rem;
  height: 17rem;
  background-color: #f5f5f5;
  opacity: 0.4;
  background-image: radial-gradient(circle at center center, #ebebf1, #e5e5f7),
    repeating-radial-gradient(
      circle at center center,
      #999999,
      #676880,
      10px,
      transparent 20px,
      transparent 10px
    );
  background-blend-mode: multiply;
}
.pomodoro {
  margin: 1em;
  background-image: url(../sources/img/png/worki-ss.png);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  width: 20rem;
  height: 17rem;
  cursor: pointer;
  opacity: 70%;
  transition: opacity 0.1s;
}
.pomodoro:hover {
  opacity: 100%;
}
.encrypter {
  margin: 1em;
  background-image: url(../sources/img/png/encrypt-ss.png);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  width: 20rem;
  height: 17rem;
  cursor: pointer;
  opacity: 70%;
  transition: opacity 0.1s;
}
.encrypter:hover {
  opacity: 100%;
}
.sm-button {
  margin-top: 1.3rem;
  padding: 1.2rem;
  width: 100%;
  border-radius: 20px;
  background-color: #373737;
  font-size: 1.3rem;
  font-weight: 800;
  transition: filter 0.2s;
  color: #fff;
  cursor: pointer;
}
.sm-button:hover {
  filter: invert(100%);
}

/* About me section */
.ab-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-bottom: 1rem;
}
.parr-text {
  padding: 0rem 3rem 0rem 3rem;
}
.parr-text p {
  font-size: 20px;
}
.parr-text span {
  color: #95cbdb;
  font-weight: 700;
}
.parr-text p a {
  color: #dfaaf0;
  font-weight: 700;
}
.material-y-example {
  margin: 1rem;
  border-radius: 30px;
  padding: 10rem;
  width: 90%;
  background-size: 100%;
  transition: opacity 0.5s;
  background-image: url(https://www.uifrommars.com/wp-content/uploads/2021/11/material-you.jpg);
}

/* Certifications section */
.c-element {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}
.cv-button {
  background-color: #373737;
  width: 60%;
  padding: 1.5rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  transition: filter 0.2s;
}
.cv-button:hover {
  filter: invert(100%);
}
.cert-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cert-container div {
  width: 80% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  padding-left: 0rem;
}

.cert-element {
  background-color: #000000;
  margin: 1rem;
  /* width: 6% !important; */
}
.cert-element img {
  width: 45px;
  height: 45px;
  border-radius: 1rem;
  margin: 1rem;
}

.element-content-cert {
  display: flex;
  justify-content: left;
  flex-direction: column;
}
.element-content-cert h4{
  width: 80%;
}

/* Tech stack secton */
.ts-container {
  width: 80%;
  margin-bottom: 6rem;
  padding-left: 0rem;
}

.ts-examples {
  background-color: #dfaaf0;
  padding: 1rem;
  border-radius: 2rem;
  margin-top: 2.77rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.ts-examples img {
  width: 65px;
}

/* Contact w me section */
.contact-elements {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-elements button {
  background-color: #d9d9d9;
  border-radius: 2rem;
  margin: 2.77rem;
  cursor: pointer;
  filter: grayscale(100%);
  transition: 0.3s filter;
}
.contact-elements button:hover {
  filter: grayscale(0%);
}
.contact-elements img {
  padding: 2rem;
  width: 70px;
  display: flex;
  align-items: center;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
  margin-top: 3rem;
}
footer span {
  color: #fff;
  font-weight: 700;
}
